#root {
  width: 80dvw;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 1em;
  display: flex;
  background-color: rgba(126, 126, 138, 0.3);
}

.card:hover {
  background-color: rgba(220, 136, 76, 0.497);
}

.read-the-docs {
  color: #888;
}

img {
  max-width: 50%;
  object-fit: contain;
}
.cards-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}
ul,
li {
  list-style: none;
}

.bonefire {
  max-width: 20dvw;

  filter: drop-shadow(0 0 5em #61dafbaa);
  animation: 3s ease-in-out infinite alternate burnin;
}
.bonefire:hover {
  max-width: 20dvw;

  filter: drop-shadow(0 0 25em rgb(218, 47, 0));
}
.invisible {
  display: none;
}
.personnal-class-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
  min-height: 50dvh;
  background-color: rgba(117, 79, 41, 0.123);
  padding: 1rem;
}
.personnal-card-container {
  margin-top: 2rem;
  background-color: rgba(3, 4, 52, 0.295);
  padding: 1rem;
  border-radius: 10px;
}
.personnal-card-container ul {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.personnal-card-container li {
  display: flex;
  flex-direction: column;
  gap: 2px;
  justify-content: center;
  align-items: center;
}

.personnal-card-container li div {
  order: 1;
}
.personnal-card-container li button {
  order: 2;
}
.avatar.lowlvl {
  filter: drop-shadow(0 0 5px rgba(0, 64, 255, 0.257));
  --color: rgba(0, 64, 255, 0.257);
  animation: 3s ease-in-out infinite alternate irradiant;
}
.avatar.mediumlvl {
  filter: drop-shadow(0 0 20px rgb(255, 174, 0));
  --color: rgb(255, 174, 0);
  animation: 3s ease-in-out infinite alternate irradiant;
}
.avatar.highlvl {
  filter: drop-shadow(0 0 100px red);
  --color: red;
  animation: 3s ease-in-out infinite alternate irradiant;
}
.avatar {
  transition: filter 1.5s ease-in-out;
}

@keyframes burnin {
  from {
    filter: drop-shadow(0 -10px 5px rgba(0, 21, 255, 0.291)) saturate(0%);
  }
  50% {
    filter: drop-shadow(0 -10px 50px rgba(197, 64, 3, 0.719)) saturate(50%);
  }

  to {
    filter: drop-shadow(0 -10px 100px rgb(255, 98, 0)) saturate(100%);
  }
}

@keyframes irradiant {
  from {
    filter: drop-shadow(0 -10px 5px var(--color));
  }
  50% {
    filter: drop-shadow(0 -10px 50px var(--color));
  }

  to {
    filter: drop-shadow(0 -10px 100px var(--color));
  }
}
